body {
    padding-top: 70px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f8f9fa;
  }
  /* menu */
  .food-item {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 7px;
    padding: 15px;
  }
  .food-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  footer {
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    background-color: #333;
    color: white;
    text-align: center;
  }
  @media (max-width: 767px) {
    .food-item {
      padding: 20px;
    }
  }
  /* o nas */
  .about-section {
    padding: 50px 0;
    text-align: center;
  }

  .photo-gallery img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .photo-gallery img:hover {
    opacity: 0.7;
  }

  .mySlides:hover {
    cursor: pointer;
  }
  .hover-shadow {
    transition: box-shadow .2s;
  }
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }